{% extends "base.html" %}
{% block content %}
<div class="sidenav">
    <a href="#" style="padding-left:50px">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
<div>
<iframe class="map", src="/map" width=700 height=700 style="float:left"></iframe>
</div>
<body>
    <nav style="padding-left: 20px";>
      I am the <b>nav html tag </b>. I contain links to the most important pages on a website. I usually appear on the top of a website.
    </nav>
    <div class="layout-container">
      <main>
        I am the <b>main html tag</b> part of the webpage. I contain unique content that will appear on a specific webpage.
      </main>
      <aside>
        I am the <b>aside html tag</b>. I hold the useful components of a6 sidebar. I usually stay the same and I can be used on different web pages.
      </aside>
    </div>
    <footer>
      I am a <b>footer html tag</b> I contain copyright, privacy policy and other legal links.
    </footer>
  </body>
  
{% endblock %}